

html,body{
	margin: 0;
	padding: 0;
	min-width: 1024px;
}

.container-center{
	margin: 0 auto;
	width: 1024px;
}

.btn{
	display: inline-block;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 3px;
	text-align: center;
	font-family: 'bebas_neue_regularregular',sans-serif;
	font-size: 19px;
	font-weight: bold;
	line-height: 19px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background-color: #3cc395;
}

.btn:hover{
	background-color: #2a373d;
}

.page-header{
	width: 100%;
}

.page-header__top{
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 0;
}

.logo-wrapper{
	display: inline-block;
	vertical-align: middle;
	margin-right: 150px;
	padding-left: 20px;
	padding-right: 20px;
}

.logo-wrapper a{
	text-decoration: none;
}

.logo{
	margin: 0;
	padding: 0;
	font-family: 'Lobster', cursive;
	font-size: 49px;
	line-height: 49px;
	color: #3cc3b5;
}

.logo:hover{
	color: #255e7b;
}

.page-header__search-wrapper{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	margin-right: 145px;
	padding: 0;
	margin-right: 155px;
}

.page-header__search{
	position: relative;
	margin: 0;
	padding: 12px 40px 12px 15px;
	border: 1px solid #e1e1e1;
	outline: none;
	width: 380px;
	font-size: 14px;
	line-height: 14px;
	background: url('../img/sprite.png') no-repeat;
    background-position: 353px -555px;
}

.page-header__search:after{
	content: '';
	position: absolute;
	top: 5px;
	right: 10px;
	width: 22px;
    height: 22px;

}

.cart{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding-left: 69px;
}

.cart__total-cost{
	position: relative;
	display: inline-block;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 33px;
	font-weight: bold;
	color: #b6b6b6;
}

.cart__total-cost:before{
	content: '';
	position: absolute;
	top: -5px;
	left: -57px;
	width: 41px;
    height: 37px;
	background: url('../img/sprite.png') no-repeat;
    background-position: -50px -426px;
}

.main-menu{
	width: 100%;
	background-color: #4ccfc1;
}

.main-menu__list{
	/* display: flex; */
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
	text-align: center;
}

.main-menu__list li{
	position: relative;
	display: inline-block;
	/* flex-grow: 1; */
	text-align: center;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 21px;
	font-weight: bold;
	text-transform: uppercase;

}

.main-menu__list li:before{
	content: '|';
	position: absolute;
	top: 9px;
	left: -5px;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 23px;
	color: #fff;
}

.main-menu__list li:first-child:before{
	content: '';
}

/* .main-menu__list li:after{
	content: '|';
	position: absolute;
	top: 9px;
	right: -5px;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 23px;
	color: #fff;
}

.main-menu__list li:last-child:after{
	content: '';
} */

.main-menu__item{
	display: block;
	margin: 0;
	padding: 0;
	padding-top: 9px;
	padding-right: 20px;
	padding-bottom: 11px;
	padding-left: 20px;
	-moz-padding-start: 18px;
	-moz-padding-end: 18px;
	/* width: 100%; */
	text-decoration: none;
	color: #fff;
}

.main-menu__list li:first-child .main-menu__item{
	padding-left: 18px;
}

.main-menu__list li:last-child .main-menu__item{
	padding-right: 18px;
	-moz-padding-end: 0;
}

.main-menu__item:hover{
	color: #1f2f30;
}



.slider{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #3ac7b5 url('../img/pattern.png');
}

.slider .container-center{
	position: relative;
}

.slider input[type=radio]{
	display: none;
}

.slider__content{
	position: relative;
	margin: 0 auto;
	width: 1024px;
}

.slider__controls{
	position: absolute;
	bottom: 35px;
	left: 50%;
	margin-left: -60px;
	z-index: 100;
}


/* .slider__btn-go-to-slide{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
} */

.slider__controls label{
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	margin-right: 10px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
}

.slider__controls label:last-child{
	margin-right: 0;
}
#btn-1:checked ~ .slider__controls label[for="btn-1"],
#btn-2:checked ~ .slider__controls label[for="btn-2"],
#btn-3:checked ~ .slider__controls label[for="btn-3"],
#btn-4:checked ~ .slider__controls label[for="btn-4"],
#btn-5:checked ~ .slider__controls label[for="btn-5"]{
	background-color: #77d3cb;
}

.slide__image{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-right: 80px;
	padding: 0;
}

.slide__text-wrapper{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	width: 400px;
}

.slide__title{
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 61px;
	line-height: 54px;
	color: #fff;
}

.slide__text{
	margin: 0;
	margin-bottom: 26px;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 28px;
	color: #fff;
}

.slide__btn-shop-now{
	padding: 9px 23px;
	border: 4px solid #fff;
	border-radius: 6px;
	font-size: 27px;
	background-color: transparent;
}

.slide__btn-shop-now:hover{
	background-color: transparent;
	border-color: #2a373d;
}

.slide{
	display: none;
	margin: 0;
	padding: 60px 164px 50px 70px;
}

#btn-1:checked ~ .slider__content .slide:nth-child(1){
	display: block;
}
#btn-2:checked ~ .slider__content .slide:nth-child(2){
	display: block;
}
#btn-3:checked ~ .slider__content .slide:nth-child(3){
	display: block;
}
#btn-4:checked ~ .slider__content .slide:nth-child(4){
	display: block;
}
#btn-5:checked ~ .slider__content .slide:nth-child(5){
	display: block;
}

#btn-1:checked ~ .slider__content .slide:first-child,
#btn-2:checked ~ .slide + .slide,
#btn-3:checked ~ .slide + .slide + .slide,
#btn-4:checked ~ .slide + .slide + .slide + .slide,
#btn-5:checked ~ .slide + .slide + .slide + .slide + .slide{
	display: block;
}

.categories__content-wrapper{
	position: relative;
}

.categories__prev,
.categories__next{
	position: absolute;
	display: none;
	top: 0;
}

.categories__row{
	font-size: 0;
}

.category{
	display: inline-block;
	vertical-align: top;
	border: none;
	border-right: 2px solid #e7e7e7;
	font-size: 0;
	width: 340px;
}

.category + .category + .category{
	border-left: none;
	border-right: none;
}

.category:nth-of-type(3){
	border-left: none;
	border-right: none;
}


.category__image{
	display: inline-block;
	vertical-align: top;
	max-width: 198px;
	max-height: 190px;
}

.category__description{
	display: inline-block;
	vertical-align: top;
	padding-top: 50px;
	width: 80px;
}

.category__title{
	margin: 0;
	margin-bottom: 18px;
	padding: 0;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 27px;
	line-height: 27px;
	color: #afafaf;
}

.category__btn-shop{
	padding-left: 15px;
	padding-right: 15px;
}

.featured-products__heading{
	margin: 0;
	padding: 0;
	background: #39c5ba url('../img/pattern.png');
}

.featured-products__title{
	margin: 0;
	padding: 0;
	padding-top: 22px;
	padding-bottom: 22px;
	padding-left: 60px;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 31px;
	line-height: 25px;
	text-transform: uppercase;
	color: #fff;
}

.featured-products__items-wrapper{
	padding: 48px 80px 72px 60px;
}

.featured-products__row{
	margin: 0;
	margin-left: -53px;
	margin-bottom: 45px;
	padding: 0;
	font-size: 0;
}

.product-item{
	display: inline-block;
	vertical-align: top;
	margin-left: 53px;
	padding-bottom: 30px;
	border: 1px solid #e4e4e4;
	border-bottom: 4px solid #3cc395;
}

.product-item:hover{
	border-bottom: 4px solid #e7790d;
}

.product-item__description{
	text-align: center;
}

.product-item__title{
	margin: 0;
	margin-bottom: 11px;
	padding: 0;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 27px;
	line-height: 25px;
	color: #afafaf;
}

.product-item__price{
	vertical-align: middle;
	margin: 0;
	margin-right: 15px;
	padding: 0;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 27px;
	font-weight: bold;
	line-height: 25px;
	color: #afafaf;
}

.product-item__btn-buy-now{
	vertical-align: middle;
	padding-left: 11px;
	padding-right: 11px;
}

.primary-footer{

	width: 100%;
	background-color: #3cc3b5;
}

.primary-footer__links-wrapper{
	padding: 60px 40px;
	font-size: 0;
}

.primary-footer__links{
	display: inline-block;
	vertical-align: top;
	width: 25%;
}

.primary-footer__links-list-title{
	margin: 0;
	margin-bottom: 20px;
	padding: 0;
	font-family: 'bebas_neue_regularregular', sans-serif;
	font-size: 27px;
	line-height: 25px;
	color: #fff;
}

.primary-footer__links-list{
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 28px;
}

.primary-footer__links-list-item{
	text-decoration: none;
	color: #fff;
}

.primary-footer__links-list-item:hover{
	text-decoration: underline;
}

.secondary-footer{
	padding-top: 9px;
	padding-bottom: 9px;
	width: 100%;
	background-color: #2da89b;
}

.secondary-footer__copyright{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
	color: #fff;
}